{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My URL Shortener{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
    <nav>
        <div>
            <a href="{% url 'shorten_url' %}"><img src={% static 'images/logo.png' %} class="logo" /></a>
        </div>
        <div class="nav-flex">
            {% if user.is_authenticated %}
                <div> <a href="{% url 'track_url' %}" class="auth-btn">Tracking</a> </div>
                <div> <a href="{% url 'logout' %}" class="auth-btn">Logout</a> </div>
            {% else %}
                <div> <a href="{% url 'login' %}" class="auth-btn">Login</a> </div>
                <div> <a href="{% url 'signup' %}" class="auth-btn">Sign Up</a> </div>
            {% endif %}
        </div>
    </nav>
</header>

    <main>
        {% block content %}
        <!-- Content specific to each app will be inserted here -->
        {% endblock %}
    </main>

   <!-- <footer>
        <div class="container">
            <p>Developed by Your Name</p>
            <p>&copy; 2024 URL Shortener App</p>
        </div>
    </footer> -->
    <script src="{% static 'js/scripts.js' %}"> </script>
</body>
</html>
